@media print {

  #comments, #top-nav-wrapper, #open-mobile-nav, #top-bar-sticky-wrapper, #page-sidebar, #footer {
    display: none;
  }

  .wp-about-author-containter-none {
    display: none;
  }

  .wp-about-author-container-none {
    display: none;
  }

  .fluid-width-video-wrapper {
    display: none;
  }

  img {
    display: none;
    width: 0px;
    height: 0px;
  }


  .button-full-width {
    display: none;
  }

  .button-blue {
    display: none;
  }

  .button {
    display: none;
  }

}
